<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<div class="hero-unit">
			<h1>欢迎来到Microblog</h1>
			<p>Microblog 是一个基于node.js的微博系统。</p>
			<p> 
				<a class="btn btn-primary btn-large" href="/login">登录</a>
				<a class="btn btn-primary btn-large" href="/register">注册</a>
			</p>
		</div>
		<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

		</script>
	</body>
</html>
