<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	</head>
	<body>
		<form class="control-group">
			<fieldset>
				<legend>用户注册</legend>
				<div class="control-group">
					<label class="control-label" for="username">用户名</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="username" name="username"/>
						<p class="help-block">你的账户名称、用于登录和显示。</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">密码</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="password" name="password"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password-repeat">重复输入密码</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="password_repeat" name="password_repeat"/>
					</div>
				</div>		
				<div class="form-actions">
					<button type="button" class="btn btn-primary">注册</button>
				</div>
			</fieldset>
		</form>
		<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$("button").click(function(){
					console.log($("form").serialize());
					$.ajax({
					    type: 'post',
					    url: '/register',
					    data: $("form").serialize(),
					    success: function(data) {
					    	 if (data.error){
					    	 	$(".help-block").text(data.error);				    	 	
					    	 }else{
					    	 	window.location.href="/";				    	 	
					    	 }
					    }
					});					
				})				
			})
		</script>		
	</body>
</html>
